[defaults]
inventory = inventory/hosts.yaml
remote_user = pi
private_key_file = ~/.ssh/id_ed25519
host_key_checking = false
gather_facts = true
interpreter_python = /usr/bin/python3
collections_paths = ~/.ansible/collections:/usr/share/ansible/collections
roles_path = roles:~/.ansible/roles:/usr/share/ansible/roles

[ssh_connection]
ssh_args = -o ForwardAgent=no -o ControlMaster=auto -o ControlPersist=60s
pipelining = true
